@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
  margin: 0px 5px;
}

header {
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  width: 935px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-icon {
  display: none;
}

ion-icon {
  width: 22px;
  height: 22px;
}

.logo > div {
  border-left: 1px solid #000000;
  height: 22px;
}

.logo > img {
  width: 103px;
  height: 29px;
}

.search {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 215px;
  height: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  outline: none;
}

.search::placeholder {
  color: #979797;
  font-size: 12px;
}

.menu {
  width: 133px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 935px;
  margin: 88px auto 0px auto;
  display: flex;
}

.timeline {
  width: 614px;
}

.stories {
  width: 100%;
  height: 118px;
  background-color: #ffffff;
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  padding-left: 4px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.storie{
  width: 66px;
  height: 80px;
  margin-left: 15px;
  text-align: center;
  position: relative;
}

.background{
  width: 66px;  
}

.photo{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 5px;
  left: 5px;
}

.name{
  white-space: nowrap;
  width: 100%;
  overflow: hidden; 
  text-overflow:    ellipsis;
}

.stories ion-icon{
  width: 26px;
  height: 26px;
  color: #ffffff;
  position: absolute;
  top: 46px;
  right: 8px;
  border-radius: 50%;

  box-shadow: 0px 0px 1px black;
}

.post {
  width: 100%;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
}

.top-post {
  width: 100%;
  padding: 15px 17px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-post div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-post div img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.top-post ion-icon {
  width: 17px;
  height: 17px;
}

.post img,
.post video {
  width: 100%;
}

.bottom-post {
  width: 100%;
  background-color: #ffffff;
  padding: 14px 18px;
}

.menu-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-post div {
  width: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.like img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #000000;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  padding: 0px 18px;
  background-color: #ffffff;
}

.comment input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
}

.comment input::placeholder {
  color: #979797;
}

.comment strong {
  color: #B2DFFC;
}

.comment strong:hover {
  transition-duration: 300ms;
  color: #0095F6;
}

.sidebar {
  width: 293px;
  position: fixed;
  top: 107px;
  right: calc((100% - 935px) / 2);
}

.user img{
  width: 56px;
  height: 56px;
  margin-right: 17px;
  border-radius: 50%;
}

.user p:nth-child(2){
  font-size: 14px;
  font-weight: 300;
  color: #8e8e8e;
}

.indications{
  margin: 24px 0px 17px;
}

.indication,
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 16px;
}

.title p{
  font-size: 12px;
  font-weight: 500;
}

.title p:nth-child(1){
  color: #8e8e8e;
}

.indicated,
.user{
  display: flex;
  align-items: center;
}

.indicated img{
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border-radius: 50%;
}

.indicated div,
.user div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.indicated p:nth-child(1),
.user p:nth-child(1){
  font-size: 14px;
  font-weight: 500;
}

.indicated p:nth-child(2){
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.follow{
  color: #139ef2;
  font-weight: 500;
}

.settings p{
  font-size: 11px;
  margin-bottom: 16px;
  color: #c7c7c7;
}

footer{
    display: none;
}

@media (max-width: 935px) {
  nav {
    width: 100%;
    padding: 0px 20px;
  }

  main {
    width: 614px;
  }

  .timeline {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .logo {
    width: 100%;
  }
  .logo > div {
    display: none;
  }

  .ion-icon {
    display: flex;
  }

  .search {
    display: none;
  }

  .menu {
    display: none;
  }

  main {
    width: 100%;
    margin-top: 54px;
  }

  .stories {
    margin-bottom: 0px;
  }

  .stories ion-icon{
    display: none;
  }

  footer{
      width: 100%;
      background-color: #ffffff;
      padding: 16px 22px;
      border: 1px solid #dbdbdb;
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      z-index: 1;
  }
}
